* {
    font-family: 'Sriracha', cursive;
    color: darkblue;
}

body {
    margin-left: 2%;
    margin-right: 2%;
}

#slideBars {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.barsAndNames {
    border: 0.5px solid darkblue;
    display: inline-flex;
    align-items: center;
    padding: 10px 30px 10px 30px;
    justify-content: space-evenly;
}

#grayscaleLabel {
    padding-right: 35px;
}

#instructions {
    padding-right: 60px;
}

#hgroup1,
h1,
a {
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    border: 2px solid darkblue;
    position: absolute;
    justify-content: center;
    max-width: auto;
    display: flex;
    flex-direction: column;
    width: 96%;
}